include head.pug

<div id="content">
	<section>
		<h3>Dokumentacja</h3>
		<p>
			| Tematem projektu jest zapis i odczyt stanu wody na Bugu we Włodawie. Użytkownik niezalogowany może wpisać poziom wody i zapisać w bazie IndexedDB.
			| Po zalogowanie dane przechowywane lokalnie zostają wysłane na serwer. Zalogowany użytkownik może wpisać poziom wody i wysłać na serwer do bazy MongoDB.
			| <br>Zalogowany użytkownik może również wyświetlać dane przechowywane w bazie na serwerze oraz przejrzeć je na wygenerowanym wykresie. <br><br>

			| Po stronie klienta zostały użyte technologie: <br>
			| - HMTL5 <br>
			| - CSS<br>
			| - JavaScript + AJAX + IndexedDB + Chart.js + jQuery<br><br>
			| Po stronie serwera zostały użyte technologie: <br>
			| - Node.js <br>
			| - wraz z modułami: body-parser, express, mongodb, pug <br>
			| - Baza danych: MongoDB <br>
		</p>
	</section>
</div>
include footer.pug