include head.pug

<div id="content">
	<section>
		<h3>Wprowadź poziom wody</h3>
		<form action="#" id="input_form">
			<label for="water-level">Poziom wody</label>
			<input type="text" name="Poziom_wody" id="water-level" value="0" required>
			<input type="submit" value="Wyślij">
			<input type="button" value="Zapisz" id="save_locally">
		</form>
	</section>
</div>


include footer.pug